/* web background */
html {
  position: relative;
  min-height: 100%;
}
body {
  background: url("../images/background_icon.png") no-repeat center center fixed;
  background-size: cover;
}

.navbar {
  padding: 0;
}

img {
  width: 25%;
}

.card {
  width: 90%;
}

.img-tag {
  position: relative;
}

.img-tag div {
  position: absolute;
  bottom: 0;
  background-color: #4aaaa5;
  width: 200px;
  color: white;
  padding: 10px 0;
  text-align: center;
}

/* .footer {
  position: fixed;
  bottom: 0;
  width: 100%;
} */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
}

p {
  line-height: 2;
}

@media only screen and (max-width: 780px) {
  img {
    width: 50%;
  }

  .card {
    width: 100%;
  }
}

@media only screen and (max-width: 640px) {
  img {
    width: 200%;
  }
}