/* web background */
body {
  background: url("../images/background_icon.png") no-repeat center center fixed;
  background-size: cover;
}

.navbar {
  height: 50px;
}

img {
  width: 25%;
}

.card {
  width: 90%;
}

.img-tag {
  position: relative;
}

.img-tag div {
  position: absolute;
  bottom: 0;
  background-color: #4aaaa5;
  width: 200px;
  color: white;
  padding: 10px 0;
  text-align: center;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

p {
  line-height: 2;
}

@media only screen and (max-width: 780px) {
  img {
    width: 50%;
  }

  .card {
    width: 100%;
  }
}